/* Calendar.css */

.calendar-container {
    margin-top: 0;
    max-height: 40vh;
    overflow: hidden;
    background-color:#ffffff; /* Default background color */
}

.calendar {
    display: grid;
    grid-template-columns: repeat(12, minmax(80px, 1fr));
    gap: 1px;
    overflow: hidden;
}

.calendar-month {
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
    height: calc(100% - 4px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 1px 0;
    background-size: cover;
}

.january { background-color: #4caf50; } /* Green for January */
.february { background-color: #2196f3; } /* Blue for February */
.march { background-color: #ff5722; } 
.april { background-color: #ff5722; } 
.may { background-color: #ff5722; } 
.june { background-color: #ff5722; } 
.july { background-color: #ff5722; } 
.august { background-color: #ff5722; } 
.september { background-color: #ff5722; } 
.october { background-color: #ff5722; } 
.november { background-color: #ff5722; } 
.december { background-color: #ff5722; } 


.small-calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    gap: 0px;
    height: calc(100% - 4px);
}

.calendar-day {
    padding: 4px;
    border: 1px solid #ccc;
    text-align: center;
    flex-grow: 1;
    overflow: hidden;
    font-size: 6px;
}

.current-day {
    background-color: #4caf50;
    color: #fff;
}

.past-day {
    background-color: #8f5cdc;
    color: rgb(177, 177, 177);
}

.future-day {
    background-color: #fff;
}
