/* Calendar.css */

.calendar-container {
    margin-top: 0;
    max-height: 40vh;
    overflow: hidden;
    background-color:#ffffff; /* Default background color */
}

.calendar {
    display: grid;
    grid-template-columns: repeat(12, minmax(80px, 1fr));
    gap: 1px;
    overflow: hidden;
}

.calendar-month {
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
    height: calc(100% - 4px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 1px 0;
    background-size: cover;
}

.january { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/jan.gif'); } /* Green for January */
.february { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/Feb.gif'); } /* Blue for February */
.march { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/march.gif'); } 
.april { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/april.gif'); } 
.may { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/may.gif'); }  
.june { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/june.gif'); }  
.july { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/july.gif'); }  
.august { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/august.gif'); }  
.september { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/september.gif'); }  
.october { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/october.gif'); }  
.november { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/november.gif'); }  
.december { background-image: url('/Users/connorcappello/Desktop/tracker/tracker/public/december.gif'); }  


.small-calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    gap: 0px;
    height: calc(100% - 4px);
}

.calendar-day {
    padding: 4px;
    border: 1px solid #ccc;
    text-align: center;
    flex-grow: 1;
    overflow: hidden;
    font-size: 6px;
}

.current-day {
    background-color: #4caf50;
    color: #fff;
}

.past-day {
    background-color: #8f5cdc;
    color: rgb(177, 177, 177);
}

.future-day {
    background-color: #fff;
}
