
.column-container {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide the overflow */
  height: 800px; /* Adjust based on how much you want to show at once */
  align-items: center; /* Center items if needed */
  position: relative; /* Needed if you're going to absolutely position navigation buttons */
}


.tracker-item-container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px; /* Space between items */
  width: 100%; /* Ensure items take full width of the container */
}

.tracker-item-info {
  margin-bottom: 10px;
}

.tracker-item-progress-bar {
  background-color: #ddd;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.tracker-item-progress {
  background-color: #4caf50;
  height: 100%;
}

.tracker-item-calendar {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columns for 12 months */
  gap: 5px;
}

.month-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-label {
  margin-bottom: 5px;
  text-align: center;
}

.week-container {
  display: none; /* Hide week container as it's no longer needed */
}

.day-bubble {
  width: calc(100% / 31); /* Adjust width based on the maximum number of days in a month */
  height: 20px;
  background-color: #ddd;
  border-radius: 2px;
  display: inline-block;
}

.goal-met {
  background-color: #4caf50;
}
