.dashboard {
    background-color: rgb(19, 21, 32);
    margin-top: 0px;
    height: 100vh;
}



 

/* 1 */
.create-button {
    margin-top: 2vh;
    margin-left: 1.5vw;
    background: rgb(89, 99, 226);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
    border: none;
    border-radius: 10%;
    color: rgb(204, 233, 234);
    padding: 1em;
  }
  .create-button:hover {
     background: rgb(0,3,255);
     background: linear-gradient(0deg, rgb(17, 190, 233) 0%, rgba(12,25,180,1) 100%);
  
  }